:root {
  --main-font: Roboto, Arial, sans-serif;
  --main-color: #4286f4;
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  font-size: 15px;
}

form {
  border: 5px solid #f1f1f1;
}

.input-field {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.icon {
  font-size: 110px;
  display: flex;
  justify-content: center;
  color: var(--main-color);
}

button {
  background-color: var(--main-color);
  color: white;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: grab;
  width: 48%;
}

h1 {
  text-align:center;
}

button:hover {
 opacity:0.8;
}

.formcontainer {
 text-align:center;
 margin:24px 50px 12px;
}

.container {
 padding:16px 0;
 text-align:left;
}
